
<div class="container-request">
    <div class="logo">
        <div class="logo-wrapper">
            <img src="/coverage-checker/images/surfline_logo.png" alt="Logo">
        </div>
    </div>
    <div class="form-container-contact">
        <h3 class="heading-callback">REQUEST A CALl BACK</h3>
        <div class="form-group">
            <div class="message-box" id="message-box">
                <button id="times-button-error" class="times-button">&times;</button>
                <i class="fas fa-exclamation-triangle"></i>
                <small id="message-error"></small>
            </div>
        </div>
        <form id="request-callback">
            <div class="form-group form-group-1">
                <label for="name">Name: </label>
                <input type="text" id="name">
            </div>
            <div class="form-group form-group-1">
                <label for="email">Email: </label>
                <input type="email" id="email">
            </div>
            <div class="form-group form-group-1">
                <label for="contact">Contact: </label>
                <input type="text" id="contact">
            </div>
            <div class="form-group form-group-1">
                <label for="message">Message: </label>
                <textarea id="message"></textarea>
            </div>
            <div class="form-group-btn">
                <button type="submit" class="btn" id="callback-btn">SEND</button>
            </div>
        </form>
   
    </div>

</div>
